<div style="height: 100vh;">
    <div class="d-flex justify-content-center align-items-center p-3" style="height: calc(100vh - 150px);">
        <div class="border border-2 rounded p-5 bg-azul text-white">
            <h2 class="h1 m-2 text-center">Generador de Contraseñas</h2>
            <hr class="border-white opacity-100 rounded">
            <form>
                <div class="mb-3">
                    <label class="form-label">Selecciona una longitud: <strong>{{longitudPasswd}}</strong></label>
                    <input type="range" class="form-range" min="12" max="50" [(ngModel)]="longitudPasswd"
                        name="longitudPasswd">
                    </div>
                    <div class="mb-3">
                        <label class="form-label fs-3">Caracteres usados:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" (change)="verificarCheckboxes()"
                                [(ngModel)]="mayusculas" name="mayusculas">
                            <label class="form-check-label" for="mayusculas">Mayúsculas</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" (change)="verificarCheckboxes()"
                                [(ngModel)]="minusculas" name="minusculas">
                            <label class="form-check-label" for="minusculas">Minúsculas</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" (change)="verificarCheckboxes()"
                                [(ngModel)]="numeros" name="numeros">
                            <label class="form-check-label" for="numeros">Números</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" (change)="verificarCheckboxes()"
                                [(ngModel)]="simbolos" name="simbolos">
                            <label class="form-check-label" for="simbolos">Símbolos</label>
                        </div>
                    </div>

                    <button (click)="generarPasswd()" class="btn btn-primary w-100">Generar Contraseña</button>

                    <label class="form-label mt-3">Contraseña generada:</label>
                    <div>
                        <input type="text" class="form-control" [value]="passwdGenerada" readonly>
                        <button class="btn btn-primary w-100 mt-2" [disabled]="copiar"
                            (click)="copiarPasswd()">Copiar</button>
                    </div>












            </form>
        </div>
    </div>
    <footer class="d-flex justify-content-center" style="height:150px">
        <a href="https://adrianssanz.github.io/portfolio/" target="_blank">
            <img src="assets/imagenes/logoSanzDark.png" alt="logo" style="width: 150px">
        </a>
    </footer>
</div>