<div style="height: 100vh;">
        <div class="d-flex justify-content-center align-items-center p-5">
            <div class="border border-2 rounded p-5 bg-azul text-white">
                <h2 class="h1 m-2 text-center">Generador de Contraseñas</h2>
                <hr class="border-white opacity-100 rounded">
                <form>
                    <div class="mb-3">
                        <label class="form-label">Selecciona una longitud:</label>
                        <input type="range" class="form-range" min="1" max="50" value="12">
                    </div>

                    <div class="mb-3">
                        <label class="form-label fs-3">Caracteres usados:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="uppercase">
                            <label class="form-check-label" for="uppercase">Mayúsculas</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="lowercase">
                            <label class="form-check-label" for="lowercase">Minúsculas</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="numbers">
                            <label class="form-check-label" for="numbers">Números</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="symbols">
                            <label class="form-check-label" for="symbols">Símbolos</label>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Generar Contraseña</button>

                    <div class="mt-3">
                        <label class="form-label">Contraseña generada:</label>
                        <input type="text" id="generatedPassword" class="form-control" readonly>
                    </div>
                </form>
            </div>
        </div>
        <footer class="d-flex justify-content-center">
            <a href="https://adrianssanz.github.io/portfolio/" target="_blank">
              <img src="assets/imagenes/logoSanzDark.png" alt="logo" style="width: 150px">
            </a>
          </footer>
          
    </div>